<!DOCTYPE html>
<html ng-app>
    <head>
        <title>AngularJS - Data Binding - Multiway Binding</title>
    </head>
    
    <body>
        <h2>AngularJS - Data Binding - Multiway Binding</h2>
        
        <input type="text" name="name" ng-model="name"/>
        
        <input type="text" name="name" ng-model="name"/>
        
        <input type="text" name="name" ng-model="name"/>
        
        Hello {{ name }}
        
        <script type="text/javascript" src="js/angular.js"></script>
    </body>
</html>