<!DOCTYPE html>
<html ng-app>
    <head>
        <title>AngularJS - Data Binding - Multipe Model</title>
    </head>
    
    <body>
        <h2>AngularJS - Data Binding - Multipe Model</h2>
        
        <input type="text" name="first_name" ng-model="firstName"/>
        
        <input type="text" name="last_name" ng-model="lastName"/>
        
        Hello {{ firstName }} {{ lastName }}
        
        <script type="text/javascript" src="js/angular.js"></script>
    </body>
</html>