<!DOCTYPE html>
<html ng-app="exampleApp">
    <head>
        <title>AngularJS - Directive (ng-repeat)</title>
        
        <script type="text/javascript" src="js/angular.js"></script>
        <script type="text/javascript">
            var exampleApp = angular.module('exampleApp', []);
            
            exampleApp.controller('earthController', function($scope) {
                $scope.planet = 'Earth';
                
                $scope.radius = 6371;
                
                $scope.continents = [
                    'Asia',
                    'Africa',
                    'North America',
                    'South America',
                    'Antarctica',
                    'Europe',
                    'Australia'
                ];
                
                $scope.oceans = [
                    {name: 'Pacific Ocean', volume: 50.1, depth: 3970},
                    {name: 'Atlantic Ocean', volume: 23.3, depth: 3646},
                    {name: 'Indian Ocean', volume: 19.8, depth: 3741},
                    {name: 'Southern Ocean', volume: 5.4, depth: 3270},
                    {name: 'Arctic Ocean', volume: 1.4, depth: 1205}
                ];
            });
        </script>
    </head>
    
    <body>
        <h2>AngularJS - Directive (ng-repeat)</h2>
        
        <div ng-controller="earthController">
            <p>Planet: {{ planet }}</p>
            <p>Radius: {{ radius }} KM</p>
            
            <h3>Continents</h3>
            <ul>
                <li ng-repeat="continent in continents">{{ continent }}</li>
            </ul>
            
            <h3>Oceans</h3>
            <table cellpadding="5">
                <thead>
                    <tr>
                        <th align="left">Name</th>
                        <th align="left">Volume</th>
                        <th align="left">Average Depth</th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr ng-repeat="ocean in oceans">
                        <td>{{ ocean.name }}</td>
                        <td>{{ ocean.volume }}</td>
                        <td>{{ ocean.depth }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>