<!DOCTYPE html>
<html>
    <head>
        <title>AngularJS Workshop</title>
    </head>
    <body>
        <h2>AngularJS Workshop</h2>
        
        <h3>
            <a href="https://docs.google.com/presentation/d/19HsXvFxHl8vkiI7nXd28M8ARY4HoJTNGgtGRu2D3fQo/edit?usp=sharing" target="_blank">Presentation</a> 
             | 
            <a href="https://bitbucket.org/atulyadav/workshop-angular-js.git" target="_blank">Source Code</a>
             | 
            <a href="http://nooniclab.com/drive/download-file/?file=/uploads/7111cd7ecd43316b8a4d7a1e2af67d82/86691e058d.wmv&name=angularjs-workshop-atul-yadav.wmv" target="_blank">Screencast</a>
        </h3>
        <h3>Examples</h3>
        
        <ol>
            <li>
                <a href="https://docs.angularjs.org/guide/databinding" target="_blank" title="Read more at AngularJS.org">Data Binding</a>
                <ol>
                    <li><a href="example-01-01-binding-pure-js.html" target="_blank">Pure JS</a></li>
                    <li><a href="example-01-02-binding-jquery.html" target="_blank">jQuery</a></li>
                    <li><a href="example-01-03-binding-angular-js.html" target="_blank">Angular JS</a></li>
                    <li><a href="example-01-04-binding-multple-model.html" target="_blank">Multipe Model</a></li>
                    <li><a href="example-01-05-binding-multiway-binding.html" target="_blank">Multiway Binding</a></li>
                </ol>
            </li>
            <li><a href="example-02-module.html" target="_blank">Module</a></li>
            <li><a href="example-03-controller.html" target="_blank">Controller</a></li>
            <li>
		<a href="https://docs.angularjs.org/api/ng/directive" target="_blank" title="Read more at AngularJS.org">Directives</a>
                <ol>
                    <li><a href="example-04-01-directive-ng-repeat.html" target="_blank">ng-repeat</a></li>
                    <li><a href="example-04-02-directive-ng-submit-ng-click.html" target="_blank">ng-submit and ng-click</a></li>
                    <li><a href="example-04-03-directive-add-remove-list-item.html" target="_blank">Add / Remove List Item</a></li>
                    <li><a href="https://docs.angularjs.org/guide/directive" target="_blank" title="Read more at AngularJS.org">Custom</a></li>
                </ol>
            </li>
            <li>
                <a href="https://docs.angularjs.org/api/ng/service/$http" target="_blank" title="Read more at AngularJS.org">AJAX</a>
                <ol>
                    <li><a href="example-05-01-ajax.html" target="_blank">Common</a></li>
                    <li><a href="example-05-02-ajax-get.html" target="_blank">GET</a></li>
                    <li><a href="example-05-03-ajax-post.html" target="_blank">POST</a></li>
                </ol>
            </li>
            <li>
                <a href="https://docs.angularjs.org/api/ng/filter" target="_blank" title="Read more at AngularJS.org">Filters</a>
                <ol>
                    <li><a href="example-06-01-filter-search.html" target="_blank">Search</a></li>
                    <li><a href="example-06-02-filter-sort.html" target="_blank">Sort</a></li>
                    <li><a href="example-06-03-filter-sort-with-reverse.html" target="_blank">Sort with reverse</a></li>
                </ol>
            </li>
            <li><a href="example-07-routing.html" target="_blank">Routing</a></li>
            <li>
                <a href="https://docs.angularjs.org/guide/services" target="_blank" title="Read more at AngularJS.org">Services</a>
                <ol>
                    <li><a href="example-08-01-services.html" target="_blank">Simple</a></li>
                    <li><a href="example-08-02-services-and-ajax.html" target="_blank">With AJAX</a></li>
                    <li><a href="example-08-03-services-and-ajax-with-cache.html" target="_blank">With AJAX and Caching</a></li>
                </ol>
            </li>
            <li><a href="example-09-separate-modules.html" target="_blank">Creating separate modules</a></li>
        </ol>
        
        <p style="color: #aaa;">Atul Yadav | a.yadav@noonic.com</p>
    </body>
</html>